<!--Section: Features v.2-->
<section class="text-center">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold">Why is it so great?</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam.</p>

  <!--Grid row-->
  <div class="row text-left">

    <!--Grid column-->
    <div class="col-md-4 mb-4">
      <div class="col-1 col-md-2 float-left">
        <i class="fa fa-bullhorn blue-text fa-2x"></i>
      </div>
      <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold">Marketing</h4>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
          nam,
          aperiam minima assumenda.</p>
        <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-4">
      <div class="col-1 col-md-2 float-left">
        <i class="fa fa-cogs pink-text fa-2x"></i>
      </div>
      <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold">Customization</h4>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
          nam,
          aperiam minima assumenda.</p>
        <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-4">
      <div class="col-1 col-md-2 float-left">
        <i class="fa fa-dashboard purple-text fa-2x"></i>
      </div>
      <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold">Support</h4>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
          nam,
          aperiam minima assumenda.</p>
        <a mdbBtn color="secondary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
      </div>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.2-->
