<app-app-navigation></app-app-navigation>

<div class='container mt-5'>

    <div class='card form-width'>
        <div class='card-header text-center'>Add Card</div>

          <form class='form-width'>

              <div class='md-form'>

                <input
                  class='form-control'
                  mdbInputDirective
                  type='text'
                  placeholder='Make'
                >
              </div>

              <div class='md-form'>

                  <input
                    class='form-control'
                    type='text'
                    placeholder='Model'
                  >
                </div>

                <div class='md-form'>

                    <input
                      class='form-control'
                      type='text'
                      placeholder='Year'
                    >
                  </div>

                  <div class='md-form'>

                      <input
                        class='form-control'
                        type='text'
                        placeholder='Color'
                      >
                    </div>

                    <div class='md-form'>

                        <input
                          class='form-control'
                          type='text'
                          placeholder='Options'
                        >
                      </div>



                      <div class='md-form'>

                          <input
                            class='btn btn-default'
                            type='text'
                            value='Submit'
                          >
                        </div>
          </form>

        <div class='card-body'>




        </div>


    </div>



</div>

<app-app-footer></app-app-footer>
