<app-app-navigation></app-app-navigation>

<div class='container mt-5 mb-5'>

    <div class='card auto-card'>
        <div class='card-header'>
          Toyota
        </div>
        <div class='card-body'>
          <ul class='list-group'>
            <li class='list-group-item'>Carolla</li>
            <li class='list-group-item'>10000 Miles</li>
            <li class='list-group-item'>Gray</li>
            <li class='list-group-item'>Many Options</li>
          </ul>
        </div>
    </div>
</div>


<app-app-footer></app-app-footer>
